@model IEnumerable<WebBanHangOnline.Models.EF.Category>

@if (Model != null)
{
    <ul class="navbar_menu">
        @foreach (var item in Model)
        {
            if (item.Alias.Equals("trang-chu"))
            {
                <li><a href="/">@item.Title</a></li>
            }
            else
            {
                <li><a href="/@item.Alias">@item.Title</a></li>
            }

        }
    </ul>
}